i2np.bandwidth.inboundBurstKBytes=220000
i2np.bandwidth.inboundBurstKBytesPerSecond=11000
i2np.bandwidth.inboundKBytesPerSecond=10000
i2np.bandwidth.outboundBurstKBytes=220000
i2np.bandwidth.outboundBurstKBytesPerSecond=11000
i2np.bandwidth.outboundKBytesPerSecond=10000
i2np.laptopMode=true
i2np.ntcp.autoip=false
i2np.ntcp.enable=true
i2np.ntcp.ipv6=false
i2np.udp.addressSources=hidden
i2np.udp.enable=true
i2np.udp.ipv6=false
i2np.upnp.enable=false
router.dynamicKeys=false
router.firstVersion=0.9.15
router.isHidden=true
router.passwordManager.migrated=true
router.previousVersion=0.9.15
router.sharePercentage=100
routerconsole.newsLastUpdated=0
